h1{
     
    font-size: 20px;
    font-weight: 20;
}
h2{
    font-size: 1px;
}
.container{
    width: 50%;
    max-height: 1100px;
}
.container-text{
    padding: 5px;
    width: 430px;
}

header{
    position: fixed;
}
.container platos{
    margin-top: 10px;
}

