*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4{
    color: rgb(6, 6, 24);
    text-transform: uppercase;
    font-weight: 400;
}
.container{
    width: 90%;
    max-height: 1100px;
    margin: auto;
    overflow: hidden;
}
h1{
    font-size: 60px;
    color: #fff;
    stroke-width: 400px;
}
h2{
    font-size: 30px;
}
header{
    width: 215vh;
    background: #b92b27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1d20ce94, #e95e8c9d),url(../images/img.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1e12c998, #e956767c),url(../images/img.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-color: rgb(28, 8, 214);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;    
}
nav{
    width: 100%;
    height: 80px;
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    z-index: 80;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links{
    font-weight: 300;
}
.links a{
    color: #2f1044;
    margin-left: 80px;
    text-decoration: none;
}
.button-menu{
    display: none;
}
.container title{
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100%;
}
.container-text{
    display: inline-block;
    width: 1100px;
    margin: 40px 0 0 0;
    text-align: center;
    color: #fff;
    padding: 184px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 5px;
    box-shadow:  0 8px 32px rgba(0, 0, 0, 0.3);

    }
.container-text >h1{
    color: #fff;
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 20px;
    text-shadow: 2px 5px #5193cc;
}

#ola{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.container-history{
    border-top: 5px solid rgb(185, 156, 135);
    height: 400px;
    width: 50%;
    max-height: 900px;
    margin: auto;
    overflow: hidden;
    background: rgb(185, 156, 135);
}
.container.history > h3{
    width: 80%;
    padding: 90px;
    border-radius: 10%;
    color: rgb(121, 230, 197);
    font-weight: bold;
    font-size: 80px;
    margin-bottom: 30px;
    text-shadow: 2px 5px #7e7137;
}
.history{
    width: 130%;
    height: 200px;
}
.history >img{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.history-text{
    margin-bottom: 40px;
    color: rgb(23, 3, 94);
    font-size: 18px;
    width: 70%;
}
.platos{
    background-color:rgb(163, 25, 37);
    display: flex;
}
.container platos{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    padding-bottom: 20px;
    justify-content: space-evenly;
}
.container plato{
    width: 30%;
    background: #fff;
    margin-bottom: 30px;
    padding: 45px 30px 25px 30px;
    border-radius: 10px;
    cursor: pointer;
}
.galery{
    width: 35;
    height: 150;
    margin: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.galery >img{
    width: 100%;
    height: 120px;
    margin: auto;
}
.container lugares tradicionales{
    display: flex;
    height: 200px;
    justify-content: space-evenly;
    align-items: center;
    stroke-width: 200px;
    width: 70%;
    padding: 200px;
}
.container lugares{
    margin: 0 0 0 30px;
}
.container restaurantes{
    width: 70%;
}
title lugares > h4{
    color: rgb(78, 211, 211);
    width: 40%;
}
.text lugares{
    font-weight: 100;
    margin-top: 15px;
    color: #2a0e8f;
    display: flex;
}
.icono > a{
    background: #ecea75 ;
    display: inline-block;
    width: 120px;
    margin: 28px 0 0 0;
    text-align: center;
    color: rgb(26, 159, 192);
    padding: 12px;
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
    border-radius: 5px;
    box-shadow:  0 8px 32px rgba(124, 10, 10, 0.3);
}
.container-footer{
    width: 100%;
    height: 200px;
    background-color: #158bc2;
    font-weight: 400;
}
.container footer > h4{
    font-size: 30px;
    width: 50%;
}
.footer one{
    background: #ecea75 ;
    display: inline-block;
    width: 200px;
    margin: 28px 0 0 0;
    text-align: center;
    color: rgb(26, 159, 192);
    padding: 12px;
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
    border-radius: 5px;
    box-shadow:  0 8px 32px rgba(124, 10, 10, 0.3);
}
.iconos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}
.ola2{
    width: 100%;
    position: absolute;
    bottom: 0;
}